In [6]:
import pandas as pd

student_info = pd.read_csv("../data_clean/student_info_clean.csv")
tuition_fees = pd.read_csv("../data_clean/tuition_fees_clean.csv")

tuition_with_program = tuition_fees.merge(
    student_info[["student_id", "program_type"]],
    on="student_id",
    how="left"
)

In [7]:
payment_records = pd.read_csv("../data_clean/payment_records_clean.csv")

merged_data = tuition_with_program.merge(
    payment_records,
    on=["student_id", "semester"],
    how="left"
)

In [8]:
unpaid_tuition = merged_data[
    merged_data["amount_paid"].isna()
]

unpaid_tuition.head()

,student_id,semester,tuition_amount,due_date,program_type,payment_id,payment_date,amount_paid,payment_status
0,SV3035,2024-1,0.0,2024-01-20,NaN,NaN,NaN,NaN,NaN
2,SV3014,1202-1,0.0,2024-05-29,NaN,NaN,NaN,NaN,NaN
3,sv3036,2024-1,10000000.0,NaN,vua lam vua hoc,NaN,NaN,NaN,NaN
4,SV3075,2024-2,9000000.0,2024-03-13,chính quy,NaN,NaN,NaN,NaN
5,SV3023,2024-2,8000000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
invalid_payments = payment_records.merge(
    tuition_fees,
    on=["student_id", "semester"],
    how="left",
    indicator=True
)

invalid_payments = invalid_payments[
    invalid_payments["_merge"] == "left_only"
]

invalid_payments.head()

,payment_id,student_id,semester,payment_date,amount_paid,payment_status,tuition_amount,due_date,_merge
0,PMT5000,SV3033,2024-1,2024-10-28,0.0,Chưa thanh toán,NaN,NaN,left_only
5,PMT5004,sv3063,2024-2,NaN,0.0,Chưa thanh toán,NaN,NaN,left_only
6,PMT5005,SV3062,2024-1,2024-01-16,0.0,Chưa thanh toán,NaN,NaN,left_only
8,PMT5007,sv3071,2024-1,NaN,10000000.0,Thanh toán một phần,NaN,NaN,left_only
9,PMT5008,SV3035,2202-2,2024-11-17,4000000.0,Đã thanh toán,NaN,NaN,left_only

In [11]:
merged_data.to_csv(
    "../final_report/kết quả phân tích/tuition_payment_merged.csv",
    index=False
)