In [9]:
import pandas as pd

df = pd.read_csv("../final_report/kết quả phân tích/tuition_payment_merged.csv", parse_dates=["due_date", "payment_date"])

In [10]:
df["late_payment"] = df["payment_date"] > df["due_date"]

In [11]:
pivot_late_rate = pd.pivot_table(
    df,
    values="late_payment",
    index="semester",
    columns="program_type",
    aggfunc="mean"
)
pivot_late_rate

program_type,c l c,chinh quy,chinh quy,chính quy,clc,lien thong,liên thông,vua lam vua hoc,vua lam vua hoc,vừa làm vừa học
semester,,,,,,,,,,
1202-1,0.00,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.333333
2024-1,0.00,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.000000
2024-2,0.00,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.000000
2025-1,0.25,0.0,0.0,0.0,1.0,NaN,NaN,0.2,0.0,0.000000
2202-2,0.00,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.000000