In [1]:
import pandas as pd
import numpy as np

In [8]:
import os
print(os.getcwd())
print(os.listdir())

c:\Users\ADMIN\OneDrive\Desktop\project\task01_cleaning
['task01_cleaning.ipynb']

In [9]:
student_df = pd.read_csv("student_info.csv")
tuition_df = pd.read_csv("tuition_fees.csv")
payment_df = pd.read_csv("payment_records.csv")

# Kiểm tra nhanh
print(student_df.head())
print(tuition_df.head())
print(payment_df.head())

  student_id      full_name     program_type
0     SV3000    pham  thi d              CLC
1     sv3001   Nguyen van A        Chính quy
2     sv3002    Tran  thi B  Vừa làm vừa học
3     sv3003  Hoang   van e       chinh  quy
4     SV3004    LE   VAN  C       Liên thông
  student_id   semester tuition_amount    due_date
0    SV3035      2024-1      8.000.000  2024-01-20
1     sv3078  HK1- 2025      8.000.000  2024-01-25
2     SV3014   HK1-2024      8.000.000  2024-05-29
3     sv3036     2024-1       10000000  07/12/2024
4     SV3075     2024-2     9,000,000   2024-03-13
  payment_id student_id   semester payment_date  amount_paid  \
0    PMT5000    SV3033      2024-1   28/10/2024  10.000.000đ
1    PMT5001    SV3023    HK1-2024   2024-05-21      9000000
2    PMT5002     SV3022  HK1- 2025   23/09/2024          NaN
3    PMT5003    SV3042      2024-1   2025-01-09      8000000
4    PMT5004     sv3063     2024-2   2024-12-21      -500000

        payment_status
0      Chưa thanh toán
1       Thanh toán trễ
2  Thanh toán một phần
3  Thanh toan mot phan
4      Chưa thanh toán

In [11]:
student_df['student_id'] = student_df['student_id'].astype(str).str.strip()

student_df['full_name'] = (
    student_df['full_name']
    .astype(str)
    .str.strip()
    .str.title()
)

student_df['program_type'] = (
    student_df['program_type']
    .astype(str)
    .str.strip()
    .str.lower()
)

In [12]:
def normalize_semester(x):
    if pd.isna(x):
        return np.nan
    
    x = str(x)
    year = ''.join(filter(str.isdigit, x))[:4]
    
    if '1' in x:
        return f"{year}-1"
    elif '2' in x:
        return f"{year}-2"
    else:
        return np.nan

In [13]:
tuition_df['semester'] = tuition_df['semester'].apply(normalize_semester)
payment_df['semester'] = payment_df['semester'].apply(normalize_semester)

In [14]:
def clean_currency(x):
    if pd.isna(x):
        return 0.0
    
    x = str(x)
    x = x.replace(',', '').replace('$', '').strip()
    
    try:
        value = float(x)
        if value < 0:
            return 0.0
        return value
    except:
        return 0.0

In [15]:
tuition_df['tuition_amount'] = tuition_df['tuition_amount'].apply(clean_currency)
payment_df['amount_paid'] = payment_df['amount_paid'].apply(clean_currency)

In [16]:
tuition_df['due_date'] = pd.to_datetime(
    tuition_df['due_date'], errors='coerce'
)

payment_df['payment_date'] = pd.to_datetime(
    payment_df['payment_date'], errors='coerce'
)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_17696\2185011832.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  payment_df['payment_date'] = pd.to_datetime(

In [19]:
import os

os.makedirs("data_clean", exist_ok=True)

In [20]:
import os
os.makedirs("data_clean", exist_ok=True)

student_df.to_csv("data_clean/student_info_clean.csv", index=False)
tuition_df.to_csv("data_clean/tuition_fees_clean.csv", index=False)
payment_df.to_csv("data_clean/payment_records_clean.csv", index=False)

In [21]:
student_df.to_csv(
    "data_clean/student_info_clean.csv",
    index=False
)

tuition_df.to_csv(
    "data_clean/tuition_fees_clean.csv",
    index=False
)

payment_df.to_csv(
    "data_clean/payment_records_clean.csv",
    index=False
)

In [22]:
print(student_df.info())
print(tuition_df.info())
print(payment_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   student_id    80 non-null     object
 1   full_name     80 non-null     object
 2   program_type  80 non-null     object
dtypes: object(3)
memory usage: 2.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      120 non-null    object
 1   semester        120 non-null    object
 2   tuition_amount  120 non-null    float64
 3   due_date        69 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   payment_id      100 non-null    object
 1   student_id      100 non-null    object
 2   semester        100 non-null    object
 3   payment_date    55 non-null     datetime64[ns]
 4   amount_paid     100 non-null    float64
 5   payment_status  85 non-null     object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 4.8+ KB
None